h1 {
  text-align: center;

}

html {
  background-color: #212436;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box{
  position: relative;
  width: 60%;
  border-radius: 20px;
  padding: 25px 25px 45px 25px;
  transform: translate(-50, -50);
  background-color: white;
  margin: auto;
}

h1 {
  background-color: #3a3f5e;
  margin: 0px;
  border-radius: 5px;
  color: white;
}
